@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Indie Flower', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: rgb(158, 154, 154);
    font-family: var(--fonte1);
    min-height: 100vh;
}

header {
    background-color: #02070a;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte2);
    font-size: 8vw;
    font-variant: small-caps;
    padding-top: 50px;
}

header > p {
    font-family: var(--fonte3);
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte3);
    font-size: 3.5vw;
    line-height: 2em;
    padding-bottom: 10vh;
    padding-left: 30px;
    padding-top: 10vh;
}

section.imagem {
    background-color: rgb(65, 98, 99);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.24);
    display: inline-block;
    padding: 8px;
}

section.normal {
    background-color: white;
    color: black;
}

section > p {
    padding-bottom: 2em;
}

footer {
    background-color: #02070a;
    color: white;
    padding: 8px;
    text-align: center;
}
