@charset "UTF-8";

body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: darkred;
    background-color: rgb(164, 132, 172);
}
h2 {
    color: darkcyan;
}
p {
    text-align: justify;
}