@charset "UTF-8";

/* Todas as outras medias */
/* Typical Device Breakpoints
---------------------------------
Pequenos dispositivos: até 600px;
Celular: 600px até 768px;
Tablet: 768px até 992px;
Desktop: 992px até 1200px;
Grandes dispositivos: 1200px em diante;
*/

@media print {
    * {
      font-family: 'Courier New', Courier, monospace;  
    }

    body {
        background-image: url(../imagens/back-print.jpg);/* Desnecessário */
    }

    main {
        border: 2px solid black;
    }

    main:after {
        content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;
    }

    main h1 {
        color: black;   
        text-shadow: none;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#pc {display: none;}
    img#print {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#pc {display: none;}
    img#print {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#pc {display: block;}
    img#print {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#pc {display: none;}
    img#print {display: none;}
    img#tv {display: block;}
}