@charset "UTF-8";

/* Versão Mobile First */

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100vh;
}

body {
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

main {
    background-color: rgba(255, 255, 255, 0.658);
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    width: 90vw;
}

h1 {
    color: whitesmoke;
    font-size: 2em;
    text-align: center;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.664);
}

img {
    display: block;
    margin: auto;
}

img#phone {display: block;}
img#tablet {display: none;}
img#pc {display: none;}
img#print {display: none;}
img#tv {display: none;}